{%- comment -%}
  Description Block: Displays description text with optional discount code
{%- endcomment -%}

{%- liquid
  assign code_style = 'color: ' | append: block.settings.code_text_color | append: '; background-color: ' | append: block.settings.code_bg_color | append: ';'

  assign limited_code = block.settings.discount_code | slice: 0, 10
  assign discount_span = '<span class="gdr-modal__discount-code" style="' | append: code_style | append: '">' | append: limited_code | append: '</span>'

  assign default_text = 'USE CODE [code] FOR $5 OFF YOUR FIRST ORDER'
  assign description_text = block.settings.modal_description | default: default_text | truncate: 50

  assign formatted_description = description_text | replace: '[code]', discount_span
-%}

{%- if formatted_description != blank -%}
  <p
    class='gdr-modal__description'
    {{ block.shopify_attributes }}
    style='--description-color: {{ block.settings.description_text_color }};'
  >
    {{ formatted_description }}
  </p>
{%- endif -%}
